@charset "utf-8";
/* CSS Document */
*{ margin:0; padding:0;}
body{ font:12px/20px Tahoma;}
table{ border-collapse:collapse;}
img{ border:0;}
li{ list-style:none;}

a{ color:#335884; text-decoration:none;}
a:hover{ color:#f00; text-decoration:underline;}

#header{ clear:both; overflow:hidden;position:relative; margin:0 auto; margin-top:15px; width:947px; height:116px; border:1px solid #dfdfdf; background:url(../images/topbg.gif) repeat-x;}
#top_login{float:left; padding:6px 0 0 10px; display: block;}
.login_input{ display: inline-block; height:19px; line-height:19px; width:118px; border:none; background:url(../images/login_input.gif) no-repeat; margin:0 14px 0 6px;}
.login_sub{display: inline-block;  width:51px; height:19px; border:none; background:url(../images/login_sub.gif) no-repeat;}
.login_link{ display: inline-block;text-decoration:underline; margin:0 6px;}
#friend_logo{ display: inline-block; position:absolute; top:6px; right:6px;}
#register{float:left; padding:6px 0 0 10px; display: block;}

#silder{width:100%; margin:25px 25px 0 0 ;}


#nav{ clear:both;}
#logo{ float:left; width:145px; margin:8px 0 0 12px;}

#mainnav{ float:right; margin:10px 10px 0 0 ;}
#mainnav ul{ clear:both;}
#mainnav ul li{ float:left; margin:0 2px; padding-left:6px; background:url(../images/nav_leftdot.gif) no-repeat 0 8px; line-height:24px;}
#mainnav ul li a{ color:#333;}
#mainnav ul li.leftLineTop{ background-image:url(../images/nav_leftline.gif);}
#mainnav ul li.headLi{ background:none;}


#container{ clear:both; width:947px; height:100%; overflow:hidden; margin:14px auto 0;}
.sidebar{ float:left; width:157px;}
.sidebar h1{ clear:both;}
.side_list{ height:250px; background:url(../images/sidebarbg.gif) no-repeat; margin:2px 0 4px;}
.main{ overflow:auto;height:800px; float:right; width:787px;}
.class_type{ background:url(../images/class_bg.gif) no-repeat right 8px; height:40px; padding:0 0 0 14px;}
.content{ float:left; width:500px; border-right:1px solid #eff0f4; margin:16px 0 0 10px;}
.class_date{ font:12px/20px Arial; border-bottom:1px solid #d4d6d9; margin-right:10px;}
#class_month{ font-weight:600;}
#class_month a{ margin:0 7px; *margin:0 5px;}
#class_day{ line-height:30px;}
.classlist{ clear:both; margin-top:10px;margin-right:10px;}
.classlist li{ position:relative; line-height:22px; background:url(../images/arrow.gif) no-repeat 0 10px; padding:0 130px 0 8px;}
.classlist li.space{ background:none; height:22px;}
.classlist li span{ position:absolute; top:-1px; *top:-4px; right:16px;}
.picnews{ float:right; width:250px; text-align:center; margin:16px 0 0 0;}
.picnews li{ margin-bottom:10px;}

/*友情链接部分*/
#friend{
	clear:both;
	width:950px;
	height:102px;
	margin:0 auto;
	border: medium solid gray;
	border-radius: 15px;
}

.friend_t{
	height:20px;
	border-bottom:1px dashed #48D1CC;
	padding:4px 0 8px 10px;
}

.friend_list{
	height:70px;
	overflow:hidden;
	border-top:0;
	font-size: 15px;
}
.friend_list ul{
	margin:14px 30px 0;
}
.friend_list li{
	float:left;
	margin-right:10px;
	white-space:nowrap;
}

/*页脚部分*/
#footer{
	width:100%;
	margin:20px auto 0;
	text-align:center;
	background-color: rgba(0,139,139,0.5)
}
#footer p{
	font-size: 13px;
}
